* {
  margin: 0;
  padding: 0;
}

body {
  font-size: 10px;
  font-family: "Stick No Bills", sans-serif;
  background-color: rgb(247, 247, 243);
}

div.background {
  text-align: center;
  background-image: url(../img/tapeta.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
}

div.logo a {
  position: relative;
  top: 0;
  left: 0;
}
div.logo a img {
  position: fixed;
  top: 2px;
  left: 30px;
  height: 100px;
  z-index: 1;
  opacity: 0.7;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 10px black;
          box-shadow: 0 0 10px black;
  z-index: 2;
}
div.logo a:nth-child(2) {
  position: fixed;
  top: 2px;
  left: 150px;
  line-height: 100px;
  font-size: 6em;
  font-weight: 700;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  text-shadow: 0 0 10px black;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  z-index: 2;
}
div.logo a:nth-child(2):hover {
  padding: 0 10px;
}

div.logo p {
  position: absolute;
  top: 42px;
  left: 570px;
  color: white;
  font-size: 3em;
}

nav.menu {
  position: absolute;
  top: 20px;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 100%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  z-index: 1;
}
nav.menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 60px;
  width: 50%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  list-style: none;
}
nav.menu ul li a {
  display: block;
  min-width: 170px;
  line-height: 60px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  -webkit-box-shadow: 0 0 10px white;
          box-shadow: 0 0 10px white;
  border-radius: 10px;
  font-size: 1.8em;
  font-weight: 700;
  letter-spacing: 1px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
nav.menu ul li a:hover {
  font-size: 2.3em;
  -webkit-box-shadow: 0 0 20px white;
          box-shadow: 0 0 20px white;
}

header {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}
header img {
  position: absolute;
  min-width: 100%;
  min-height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
header h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: white;
  font-size: 6em;
  text-shadow: 0 0 10px black;
}
header .dots {
  position: absolute;
  bottom: 30px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
header .dots span {
  display: inline-block;
  background-color: black;
  margin: 0 20px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 0 5px white;
          box-shadow: 0 0 0 5px white;
}
header .dots span.active {
  -webkit-box-shadow: 0 0 0 5px white, 0 0 3px 10px yellow;
          box-shadow: 0 0 0 5px white, 0 0 3px 10px yellow;
}

section.about {
  min-height: 850px;
}
section.about div.wrapAbout {
  position: relative;
  top: 80px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  max-width: 1200px;
}
section.about div.wrapAbout h1 {
  position: relative;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 250px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 6em;
  text-align: center;
  border-bottom: 1px solid black;
  cursor: default;
}
section.about div.wrapAbout p.description {
  font-family: "Cairo", sans-serif;
  font-size: 2.4em;
  text-align: justify;
  text-indent: 100px;
  line-height: 40px;
  padding-top: 20px;
  padding-bottom: 50px;
  cursor: default;
}
section.about div.wrapAbout div.imgAbout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}
section.about div.wrapAbout div.imgAbout div.item {
  position: relative;
  top: 0;
  left: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 110%;
  min-width: 370px;
  min-height: 280px;
  -webkit-box-shadow: 0 0 10px black;
          box-shadow: 0 0 10px black;
  border-radius: 10px;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}
section.about div.wrapAbout div.imgAbout div.item:hover {
  background-size: 130%;
}
section.about div.wrapAbout div.imgAbout div.item:hover p {
  opacity: 1;
}
section.about div.wrapAbout div.imgAbout div.item:nth-of-type(1) {
  background-image: url(../img/biznes-komp1.jpg);
}
section.about div.wrapAbout div.imgAbout div.item:nth-of-type(2) {
  background-image: url(../img/lopataa.jpg);
}
section.about div.wrapAbout div.imgAbout div.item:nth-of-type(3) {
  background-image: url(../img/studnia.jpg);
}
section.about div.wrapAbout div.imgAbout div.item p {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-family: "Stick No Bills", sans-serif;
  font-size: 4em;
  font-weight: 700;
  color: white;
  text-shadow: 0 0 10px black;
  letter-spacing: 1px;
  opacity: 0;
  -webkit-transition: 0.8s;
  transition: 0.8s;
  cursor: default;
}

section.range {
  text-align: center;
  background-image: url(../img/tlo_zakres.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 90vh;
}
section.range div.wrapRange {
  position: relative;
  top: 80px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  max-width: 1200px;
  min-height: 700px;
}
section.range div.wrapRange h1 {
  position: relative;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 400px;
  height: 100px;
  line-height: 100px;
  font-size: 6em;
  color: white;
  text-align: center;
  background-color: #0f67be;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 15px white;
          box-shadow: 0 0 15px white;
  opacity: 0.9;
  cursor: default;
}
section.range div.wrapRange div.blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  min-height: 550px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  position: relative;
  top: 50px;
  left: 0;
}
section.range div.wrapRange div.blocks div {
  position: relative;
  top: 0;
  left: 0;
  min-width: 250px;
  min-height: 250px;
  background-color: #0f67be;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 15px 3px white;
          box-shadow: 0 0 15px 3px white;
  opacity: 0.9;
  cursor: default;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
section.range div.wrapRange div.blocks div:hover {
  opacity: 1;
  -webkit-box-shadow: 0 0 30px 5px white;
          box-shadow: 0 0 30px 5px white;
}
section.range div.wrapRange div.blocks div i {
  position: absolute;
  top: 20px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  font-size: 5em;
  color: white;
}
section.range div.wrapRange div.blocks div p {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 200px;
  font-size: 3em;
  font-weight: 500;
  color: white;
  text-align: center;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

section.gallery {
  position: relative;
  min-height: 1800px;
  background-color: rgb(247, 247, 243);
}
section.gallery h1 {
  position: absolute;
  top: 60px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 350px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 6em;
  text-align: center;
  border-bottom: 1px solid black;
  cursor: default;
}
section.gallery div.images {
  position: absolute;
  top: 180px;
  bottom: 0;
  left: 50%;
  min-width: 1200px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border-radius: 10px;
  -webkit-box-shadow: 0 0 5px 1px black;
          box-shadow: 0 0 5px 1px black;
  background-color: white;
}
section.gallery div.images h2:nth-of-type(1) {
  position: absolute;
  top: 19%;
  left: 1%;
  width: 25%;
  font-size: 4em;
  color: white;
  line-height: 70px;
  text-align: center;
  border-radius: 10px;
  cursor: default;
  background-color: black;
}
section.gallery div.images div.budowaSieci {
  position: absolute;
  top: 2%;
  bottom: 59%;
  left: 27%;
  right: 1%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
}
section.gallery div.images div.budowaSieci a {
  position: relative;
  width: 180px;
  height: 180px;
  overflow: hidden;
  margin: 0 15px;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 5px 1px black;
          box-shadow: 0 0 5px 1px black;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
section.gallery div.images div.budowaSieci a:hover {
  opacity: 0.8;
}
section.gallery div.images div.budowaSieci a img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
}
section.gallery div.images h2:nth-of-type(2) {
  position: absolute;
  top: 53%;
  right: 1%;
  width: 25%;
  text-align: center;
  font-size: 4em;
  line-height: 70px;
  color: white;
  border-radius: 10px;
  cursor: default;
  background-color: black;
}
section.gallery div.images div.budowaPrzylaczy {
  position: absolute;
  top: 43%;
  bottom: 31%;
  left: 1%;
  right: 27%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
}
section.gallery div.images div.budowaPrzylaczy a {
  position: relative;
  width: 180px;
  height: 180px;
  overflow: hidden;
  margin: 0 15px;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 5px 1px black;
          box-shadow: 0 0 5px 1px black;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
section.gallery div.images div.budowaPrzylaczy a:hover {
  opacity: 0.8;
}
section.gallery div.images div.budowaPrzylaczy a img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
}
section.gallery div.images h2:nth-of-type(3) {
  position: absolute;
  top: 75%;
  left: 1%;
  width: 25%;
  font-size: 4em;
  line-height: 70px;
  text-align: center;
  color: white;
  border-radius: 10px;
  cursor: default;
  background-color: black;
}
section.gallery div.images div.awarie {
  position: absolute;
  top: 71%;
  bottom: 16%;
  left: 27%;
  right: 1%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
}
section.gallery div.images div.awarie a {
  position: relative;
  width: 180px;
  height: 180px;
  overflow: hidden;
  margin: 0 15px;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 5px 1px black;
          box-shadow: 0 0 5px 1px black;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
section.gallery div.images div.awarie a:hover {
  opacity: 0.8;
}
section.gallery div.images div.awarie a img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
}
section.gallery div.images h2:nth-of-type(4) {
  position: absolute;
  top: 90%;
  right: 1%;
  width: 25%;
  text-align: center;
  font-size: 4em;
  line-height: 70px;
  color: white;
  border-radius: 10px;
  cursor: default;
  background-color: black;
}
section.gallery div.images div.inne {
  position: absolute;
  top: 86%;
  bottom: 1%;
  left: 1%;
  right: 27%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
}
section.gallery div.images div.inne a {
  position: relative;
  width: 180px;
  height: 180px;
  overflow: hidden;
  margin: 0 15px;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 5px 1px black;
          box-shadow: 0 0 5px 1px black;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
section.gallery div.images div.inne a:hover {
  opacity: 0.8;
}
section.gallery div.images div.inne a img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
}

section.contact {
  position: relative;
  top: 50px;
  left: 0;
  min-height: 450px;
  min-width: 100%;
  background-color: rgb(0, 0, 0);
}
section.contact h1 {
  position: absolute;
  top: 60px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 250px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 6em;
  color: white;
  text-align: center;
  border-bottom: 1px solid white;
  cursor: default;
}
section.contact div.telEmail {
  position: absolute;
  top: 200px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 1200px;
  height: 80px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
section.contact div.telEmail div {
  -ms-flex-preferred-size: 25vw;
      flex-basis: 25vw;
  font-size: 3em;
  font-family: "Cairo", sans-serif;
  line-height: 80px;
  text-align: center;
  background-color: white;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 5px 1px white;
          box-shadow: 0 0 5px 1px white;
}
section.contact div.telEmail div i {
  padding-right: 10px;
  font-size: 1.5em;
}
section.contact div.footer {
  position: absolute;
  bottom: 10px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  min-width: 1200px;
  font-size: 2.2em;
  color: white;
  text-align: center;
  padding-top: 10px;
  border-top: 1px solid white;
}/*# sourceMappingURL=style.css.map */