* {
  margin: 0;
  padding: 0;
  // box-sizing: border-box;
}
body {
  font-size: 10px;
  font-family: "Stick No Bills", sans-serif;
  //   background-color: gray;
  height: 400vh;
}

@import "variables";
@import "mixin";
@import "background";
@import "navLogo";
@import "menu";
@import "slider";
@import "about";
@import "range";
@import "gallery";
