* {
  box-sizing: border-box;
}
section.gallery {
  position: relative;
  // min-height: 180vh;
  min-height: 1800px;
  background-color: rgb(247, 247, 243);
  //   height: 300vh;
  //   div.wrapGallery {
  //     position: absolute;
  //     top: 8vh;
  //     left: 50%;
  //     transform: translateX(-50%);
  // width: 60vw;
  // height: 200vh;
  // background-color: gray;
  h1 {
    position: absolute;
    top: 60px;
    left: 50%;
    transform: translateX(-50%);
    width: 350px;
    align-items: center;
    font-size: 6em;
    text-align: center;
    border-bottom: 1px solid black;
    cursor: default;
  }
  div.images {
    position: absolute;
    top: 180px;
    bottom: 0;
    left: 50%;
    // left: 20%;
    // right: 20%;
    // left: 400px;
    // right: 400px;
    min-width: 1200px;
    transform: translateX(-50%);
    border-radius: 10px;
    box-shadow: 0 0 5px 1px black;
    // background-color: #0f67be;
    background-color: white;
    h2:nth-of-type(1) {
      position: absolute;
      top: 19%;
      left: 1%;
      width: calc(100% - 75%);
      font-size: 4em;
      color: white;
      // line-height: 8vh;
      line-height: 70px;
      text-align: center;
      border-radius: 10px;
      cursor: default;
      background-color: black;
    }
    div.budowaSieci {
      position: absolute;
      top: 2%;
      bottom: 59%;
      left: 27%;
      right: 1%;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-content: space-around;
      //   background-color: green;
      //   background-color: royalblue;
      //   border-radius: 10px;
      border-left: 1px solid black;
      border-bottom: 1px solid black;
      a {
        position: relative;
        // flex-basis: calc(23% - 2%);
        // flex-basis: 23%;
        width: 180px;
        // height: 28%;
        height: 180px;
        overflow: hidden;
        margin: 0 15px;
        border-radius: 10px;
        box-shadow: 0 0 5px 1px black;
        transition: 0.3s;
        &:hover {
          //   box-shadow: 0 0 10px 3px white;
          opacity: 0.8;
        }
        img {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          min-width: 100%;
          min-height: 100%;
        }
      }
    }
    h2:nth-of-type(2) {
      position: absolute;
      top: 53%;
      right: 1%;
      width: calc(100% - 75%);
      text-align: center;
      font-size: 4em;
      // line-height: 8vh;
      line-height: 70px;
      color: white;
      border-radius: 10px;
      cursor: default;
      background-color: black;
    }
    div.budowaPrzylaczy {
      position: absolute;
      top: 43%;
      bottom: 31%;
      left: 1%;
      right: 27%;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-content: space-around;
      //   background-color: green;
      //   border-radius: 10px;
      border-right: 1px solid black;
      border-bottom: 1px solid black;
      a {
        position: relative;
        // flex-basis: calc(23% - 2%);
        // flex-basis: 23%;
        width: 180px;
        // height: 44%;
        height: 180px;
        overflow: hidden;
        // margin: 0 2%;
        margin: 0 15px;
        // padding: 15px;
        border-radius: 10px;
        box-shadow: 0 0 5px 1px black;
        transition: 0.3s;
        &:hover {
          //   box-shadow: 0 0 10px 3px white;
          opacity: 0.8;
        }
        img {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          min-width: 100%;
          min-height: 100%;
        }
      }
    }
    h2:nth-of-type(3) {
      position: absolute;
      top: 75%;
      left: 1%;
      width: calc(100% - 75%);
      font-size: 4em;
      // line-height: 8vh;
      line-height: 70px;
      text-align: center;
      color: white;
      border-radius: 10px;
      cursor: default;
      background-color: black;
    }
    div.awarie {
      position: absolute;
      top: 71%;
      bottom: 16%;
      left: 27%;
      right: 1%;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-content: space-around;
      //   background-color: rgb(135, 38, 86);
      //   border-left: 1px solid white;
      //   border-radius: 10px;
      border-left: 1px solid black;
      border-bottom: 1px solid black;
      a {
        position: relative;
        // flex-basis: calc(23% - 2%);
        // flex-basis: 23%;
        width: 180px;
        // height: 85%;
        height: 180px;
        overflow: hidden;
        // margin: 0 2%;
        margin: 0 15px;
        border-radius: 10px;
        box-shadow: 0 0 5px 1px black;
        transition: 0.3s;
        &:hover {
          //   box-shadow: 0 0 10px 3px white;
          opacity: 0.8;
        }
        img {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          min-width: 100%;
          min-height: 100%;
        }
      }
    }
    h2:nth-of-type(4) {
      position: absolute;
      top: 90%;
      right: 1%;
      width: calc(100% - 75%);
      text-align: center;
      font-size: 4em;
      // line-height: 8vh;
      line-height: 70px;
      color: white;
      border-radius: 10px;
      cursor: default;
      background-color: black;
    }
    div.inne {
      position: absolute;
      top: 86%;
      bottom: 1%;
      left: 1%;
      right: 27%;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-content: space-around;
      //   background-color: rgb(191, 227, 29);
      border-right: 1px solid black;
      border-bottom: 1px solid black;
      //   border-radius: 10px;
      a {
        position: relative;
        // flex-basis: calc(23% - 2%);
        // flex-basis: 23%;
        width: 180px;
        // height: 85%;
        height: 180px;
        overflow: hidden;
        // margin: 0 2%;
        margin: 0 15px;
        border-radius: 10px;
        box-shadow: 0 0 5px 1px black;
        transition: 0.3s;
        &:hover {
          //   box-shadow: 0 0 10px 3px white;
          opacity: 0.8;
        }
        img {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          min-width: 100%;
          min-height: 100%;
        }
      }
    }
  }

  //   div.images {
  //     display: flex;
  //     position: absolute;
  //     top: 25vh;
  //     bottom: 0;
  //     left: 20%;
  //     right: 20%;
  //     flex-wrap: wrap;
  //     justify-content: space-around;
  //     align-content: space-between;
  //     background-color: gray;
  //     div.budowaSieci {
  //       display: flex;
  //       flex-basis: 100%;
  //       min-height: 50vh;
  //       flex-wrap: wrap;
  //       justify-content: space-between;
  //       align-content: space-between;
  //       background-color: yellow;
  //       position: relative;
  //       top: 5vh;
  //       h2 {
  //         position: absolute;
  //       }
  //       a {
  //         position: relative;
  //         flex-basis: 23%;
  //         height: 25%;
  //         overflow: hidden;
  //         border-radius: 30px;
  //         box-shadow: 0 0 10px 3px black;
  //         transition: 0.3s;
  //         &:hover {
  //           box-shadow: 0 0 20px 5px black;
  //         }
  //         img {
  //           position: absolute;
  //           top: 50%;
  //           left: 50%;
  //           transform: translate(-50%, -50%);
  //           min-width: 100%;
  //           min-height: 100%;
  //         }
  //       }
  //     }
  //   }
}
